<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/register" method="POST">
        <h1>Todo List</h1>
        <br>
        <label>Titulo</label>
        <input required name="nome" placeholder="Insira o titulo "/>
        <br>
        <label>Descricao</label>
        <input required name="descricao" placeholder="Insira a Descricao "/>
        <br>
        <button type="submit">Enviar</button>
    </form>

    <hr />

    <% for(task of tasks) {%>
        <div>
            <p><strong>Titulo:</strong> <%= task.titulo %></p>
            <p><strong>Descricao: </strong><%= task.descricao %></p>
            <p><strong>id: <%= task._id %></strong></p>
            
            <a href="edit/<%= task._id %>">Editar</a>
            <a href="delete/<%= task._id %>">Remover</a>    
        </div>
        <hr />
    <% } %> 

    </p>
</body>
</html>